.fileUpload {
  display: none;
}

.fileUploadLabel {
  padding: 0.5em 1em;
}

.imagePreview {
  max-width: 25em;
  max-height: 25em;
}

.albumImage {
  max-width: 50vw;
  max-height: 50vh;
  display: flex;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
}