.fileUpload {
  display: none;
}

.fileUploadLabel {
  padding: 0.5em 1em;
}

.imagePreview {
  height: 20em;
}

.albumImage {
  height: 20em;
  display: flex;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}